@import "../variables";
.newData {
	width: 90%;
	margin: 0 auto;
	height: 50px;
	border-bottom: 1px solid $DARK_MAIN_COLOR;
	.newDataButton {
		background-color: transparent;
		position: relative;
		border: none;
		outline: none;
		font-family: IRANSans;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 32px;
		display: grid;
		align-items: center;
		text-align: right;
		align-content: center;
		grid-template-columns: 50px calc(100% - 50px);
		color: $DARK_MAIN_COLOR;
		opacity: 0.8;
		transition: 0.3s;
		&::before {
			content: "+";
			font-size: 50px;
			position: relative;
			top: 5px;
		}
		&:hover {
			opacity: 1;
			cursor: pointer;
			transition: 0.3s;
		}
	}
}
