@import "../variables";
.Body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	background: linear-gradient(270deg, $BODY_BG1 0%, $BODY_BG2 102.12%);

	.Layout {
		max-width: 1600px;
		height: 95vh;
		background-color: $LAYOUT_BG;
		border-radius: 50px;
		direction: rtl;
		display: grid;
		grid-template-columns: 400px calc(100% - 400px);
		width: 95vw;
		overflow: hidden;

		.Content {
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			padding: 20px 0;
			overflow: hidden;
			margin: 5px;
			background: linear-gradient(
				123.7deg,
				$CONTENT_BG1 50%,
				$CONTENT_BG2 100%
			);
			border-radius: 50px;
		}
	}
}
