@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
$BLACK: #000;
$WHITE: #fff;
$GRAY: #aaa;

$BODY_BG1: #61462c;
$BODY_BG2: #a1754c;

$LAYOUT_BG: #a1754c;
$LAYOUT_BGL: #8f663f;

$CONTENT_BG1: #fcdab7;
$CONTENT_BG2: #e4b689;

$BLUE: #e4b689;
$LIGHT_BLUE: #fcdab7;
$DARK_BLUE: #61462c;

$ERROR: #ed4337;
