@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
$BLACK: #000;
$WHITE: #fff;
$GRAY: #aaa;

$BODY_BG1: #1d2d4f;
$BODY_BG2: #0d1d2f;

$LAYOUT_BG: #a1754c;
$LAYOUT_BGL: #8f663f;

$CONTENT_BG1: #fcdab7;
$CONTENT_BG2: #e4b689;

$MAIN_COLOR: #e4b689;
$LIGHT_MAIN_COLOR: #fcdab7;
$DARK_MAIN_COLOR: #61462c;

$ERROR: #ed4337;
