@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
$BLACK: #000;
$WHITE: #fff;

$BODY_BG1: #003141;
$BODY_BG2: #00222d;

$LAYOUT_BG: #00414a;

$CONTENT_BG1: #006c7a;
$CONTENT_BG2: #005965;

$BLUE: #004d65;
$LIGHT_BLUE: #00b6ce;
$DARK_BLUE: #001f2d;
