@import "../variables";
.container {
	width: 100%;
	height: calc(100% - 50px);
	overflow: auto;
	position: relative;
	.body,
	.header {
		display: table;
		table-layout: fixed;
		width: 100%;
		position: relative;

		.row {
			display: table-row;
			.column {
				display: table-cell;
				text-align: center;
				padding: 10px;
				border: 1px solid rgba($color: $LAYOUT_BG, $alpha: 0.1);
				border-collapse: collapse;
				transition: 0.3s;
				color: $DARK_MAIN_COLOR;
			}
		}
	}
	.header {
		.row {
			.column {
				font-weight: bold;
			}
		}
	}
	.body {
		.row {
			&:nth-child(odd) {
				background-color: rgba($color: $WHITE, $alpha: 0.15);
				transition: 0.3s;
			}
			&:hover {
				background-color: rgba($color: $WHITE, $alpha: 0.3);
				transition: 0.3s;
				.column {
					border-top: 1px solid rgba($color: $LAYOUT_BG, $alpha: 1);
					border-bottom: 1px solid rgba($color: $LAYOUT_BG, $alpha: 1);
					transition: 0.3s;
					cursor: pointer;
				}
			}
			.column {
			}
		}
	}
}
